h1, h2, h3{
    font-family: 'Play', sans-serif;
}

body {
    font-family: 'Play', sans-serif;
}


.jumbotron {
    margin: 0;
    padding: 5px;
    background-color: #000000b7;
    
    
}

.row-content {
    padding: 20px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-color:  #000000b7;
}

li  {
    color: white;
}