h1, h2, h3{
    font-family: 'Play', sans-serif;
}

body {
    font-family: 'Play', sans-serif;
}


.jumbotron {
    margin: 0;
    padding: 5px;
    background-color: #000000b7;
    
    
}

.row-content {
    padding: 10px 0;
    border-bottom: 1px ridge;
    min-height: 100px;
}
.navbar {
    background-color:  #000000b7;
}

li  {
    color: white;
}

.site-footer {
    background-image: linear-gradient(to bottom, rgb(179, 178, 178), grey, #29292bc2, black );
    color: white;
}

a {
    color: white;
}
a:hover {
    color: #17171a65;
}

i {
    color: white;
}

.btn {
    color: white;
}
.btn:hover {
    color: #17171a65;
}